
.div1 {
	background-color:red;
}



body {

	

}


.div2 {
	
	float:left;
	background-color:purple;
	width:30%;
	


	
}

.div3 {
	float:left;
	background-color:green;
	width:33%;
content.margin-top:5px;

margin-left:18px;
	margin-top:3%;


}


.div4 {

	float:right;
	width:20%;
background-color:blue;
	margin-top:3%;


}


.div5 {

	float:left;
	width:100%
}

.main {
margin-top:5px;
margin-left:auto;
margin-right:auto;
width:960px;
}

.yoyo {
	text-align:center;
	padding-top:.5px;
	
}
