.div1 {
	background-color:red;
}



body {

	background-color: yellow;

}


.div2 {
	
	float:left;
	background-color:purple;
	width:50%
}

.div3 {
	float:right;
	background-color:green;
	width:50%;
}
